<div class="hero min-h-screen bg-base-200"
    style="background-image: url(../../../assets/images/IMG-5072.jpeg);background-position: 0px 0px;background-repeat: no-repeat;">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left">
            <div class="max-w-full">
                <h1 class="text-5xl font-bold cd">Maloma Mankopodi Kgopotso</h1>
                <p class="py-6 vv">I'm a Fullstack Developer, UI/UX Designer & Network Engineer.</p>

                <button class="btn btn-primary" href="#about"
                    onClick="document.getElementById('about').scrollIntoView({behavior:'smooth',block:'start'});">Get Started</button>
            </div>
        </div>
    </div>
</div>
