<div class="min-h-screen bg-base-100 ">
    <div class="card">
  
        <p-tabView>
            <p-tabPanel header="All" rightIcon="pi pi-calendar" tooltip="All">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est laborum.</p>

                    <div class="card md:card-side bg-base-100 shadow-xl mt-6">
                        <figure><img src="../../../assets/Screenshot 2022-11-16 at 11.28.08.png" 
                            style="height: 600px; width: 400px"
                            alt="Album"></figure>
                        <div class="card-body">
                            <h2 class="card-title">GuidanceHub</h2>
                            <p>Click the button to listen on Spotiwhy app.</p>
                            <div class="card-actions justify-end">
                                <button class="btn btn-primary">Open The App</button>
                            </div>
                        </div>
                    </div>
                    <div class="card md:card-side bg-base-100 shadow-xl mt-6">
                        <figure><img src="../../../assets/images//sneakerwear.png" 
                            style="height: 600px; width: 400px"
                            alt="Album" /></figure>
                        <div class="card-body">
                            <h2 class="card-title">SneakerWear</h2>
                            <p>Click the button to listen on Spotiwhy app.</p>
                            <div class="card-actions justify-end">
                                <button class="btn btn-primary">Open The App</button>
                            </div>
                        </div>
                    </div>
                    <div class="card md:card-side bg-base-100 shadow-xl mt-6">
                        <figure><img src="https://placeimg.com/400/400/arch" 
                            style="height: 600px; width: 100px"
                            alt="Album" /></figure>
                        <div class="card-body">
                            <h2 class="card-title">SurveyApp</h2>
                            <p>Click the button to listen on Spotiwhy app.</p>
                            <div class="card-actions justify-end">
                                <button class="btn btn-primary">Open The App</button>
                            </div>
                        </div>
                    </div>
            </p-tabPanel>
            <p-tabPanel header="Apps" rightIcon="pi pi-inbox" tooltip="Apps">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                    aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                    voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>

                <div class="card md:card-side bg-base-100 shadow-xl mt-6">
                    <figure><img src="../../../assets/Screenshot 2022-11-16 at 11.28.08.png" 
                        style="height: 600px; width: 400px"
                        alt="Album"></figure>
                    <div class="card-body">
                        <h2 class="card-title">GuidanceHub</h2>
                        <p>Click the button to listen on Spotiwhy app.</p>
                        <div class="card-actions justify-end">
                            <button class="btn btn-primary">Open The App</button>
                        </div>
                    </div>
                </div>
                <div class="card md:card-side bg-base-100 shadow-xl mt-6">
                    <figure><img src="../../../assets/images/sneakerwear.png" 
                        style="height: 600px; width: 400px"
                        alt="Album" /></figure>
                    <div class="card-body">
                        <h2 class="card-title">SneakerWear</h2>
                        <p>Click the button to listen on Spotiwhy app.</p>
                        <div class="card-actions justify-end">
                            <button class="btn btn-primary">Open The App</button>
                        </div>
                    </div>
                </div>
                <div class="card md:card-side bg-base-100 shadow-xl mt-6">
                    <figure><img src="https://placeimg.com/400/400/arch" 
                        style="height: 600px; width: 400px"
                        alt="Album" /></figure>
                    <div class="card-body">
                        <h2 class="card-title">SurveyApp</h2>
                        <p>Click the button to listen on Spotiwhy app.</p>
                        <div class="card-actions justify-end">
                            <button class="btn btn-primary">Open The App</button>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Websites" rightIcon="pi pi-star-fill" tooltip="Websites">
                <div class="card w-96 bg-neutral text-neutral-content">
                    <div class="card-body items-center text-center">
                        <h2 class="card-title">NO WEBSITES YET!</h2>

                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>